<!DOCTYPE html>
<html>
<head>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
	<title>Canvas</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
		.wrap {
			margin: auto;
			padding-top: 12px;
			width: 85%;
			height: 100%;
		}
		.canvas-wrap {
			width: 100%;
			height: 500px;
			background-color: #FFF;
		}
	</style>
</head>
<body style="background-color: #607d8b;">
	<div class="wrap">
		<canvas id = "codeID" class="canvas-wrap">
			<p>你的浏览器不支持Canvas</p>
		</canvas>
	</div>
	<script type="text/javascript" src="./js/jquery.js"></script>
	<script type="text/javascript" src="./js/canvas/do.js"></script>
</body>
</html>