<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Shopping Mall</title>
    <link href="css/mui.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8"></script>
  </head>

  <body>
    <!-- 主界面菜单同时移动 -->
    <!-- 侧滑导航根容器 -->
    <div class="mui-off-canvas-wrap mui-draggable">
      <!-- 主页面容器 -->
      <div class="mui-inner-wrap">
        <!-- 菜单容器 -->
        <aside class="mui-off-canvas-left" id="offCanvasSide">
          <div class="mui-scroll-wrapper">
            <div class="mui-scroll">
              <!-- 菜单具体展示内容 -->
              <div class="mui-scroll-title">
                <a href="#">母婴用品</a>
              </div>
              <div class="mui-scroll-title">
                <a href="#">美肤用品</a>
              </div>
              <div class="mui-scroll-title">
                <a href="nutrition.html">营养保健</a>
              </div>
              <div class="mui-scroll-title">
                <a href="#">时尚服饰</a>
              </div>
              <div class="mui-scroll-title">
                <a href="#">居家日用</a>
              </div>
              <div class="mui-scroll-title">
                <a href="#">知名品牌</a>
              </div>
              <div class="mui-scroll-title">
                <a href="#">男士</a>
              </div>
              <div class="mui-scroll-title">
                <a href="all.html">更多</a>
              </div>
            </div>
          </div>
        </aside>
        <!-- 主页面标题 -->
        <header class="mui-bar mui-bar-nav" style="background: #10a0e9;">
          <a class="mui-icon mui-action-menu mui-icon-bars mui-pull-left" href="#offCanvasSide" style="color: #fff;"></a>
          <h1 class="mui-title" style="color: #fff;">澳洲代购</h1>
          <a class="mui-pull-right" href="sosou.html" style="padding-top: 5px;"><img src="images/sosou.png" width="100%" /></a>
        </header>
        <nav class="mui-bar mui-bar-tab mui-bar-tit">
          <a class="mui-tab-item mui-active" href="index.html">
            <span class="mui-icon mui-icon"><img src="images/index.png" width="100%" /></span>
            <span class="mui-tab-label">首页</span>
          </a>
          <a class="mui-tab-item" href="shopping_cart.html">
            <span class="mui-icon mui-icon-shopping"><img src="images/shopping_lax.png" width="100%" /></span>
            <span class="mui-tab-label">购物车</span>
          </a>
          <a class="mui-tab-item" href="orders.html">
            <span class="mui-icon mui-icon"><img src="images/word.png" width="100%" /></span>
            <span class="mui-tab-label">我的订单</span>
          </a>
          <a class="mui-tab-item" href="data.html">
            <span class="mui-icon mui-icon-system"><img src="images/system.png" width="100%" /></span>
            <span class="mui-tab-label">个人中心</span>
          </a>
        </nav>
        <!-- 主页面内容容器 -->
        <div class="mui-content mui-content-cot mui-scroll-wrapper">
          <div class="mui-scroll">
            <!-- 主界面具体展示内容 -->
            <div class="mui-slider">
              <div class="mui-slider-group mui-slider-loop">
                <!--支持循环，需要重复图片节点-->
                <div class="mui-slider-item mui-slider-item-duplicate">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
                <div class="mui-slider-item">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
                <div class="mui-slider-item">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
                <div class="mui-slider-item">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
                <div class="mui-slider-item">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
                <!--支持循环，需要重复图片节点-->
                <div class="mui-slider-item mui-slider-item-duplicate">
                  <a href="#"><img src="images/banner.jpg"></a>
                </div>
              </div>
            </div>
            <div class="mui-control-item">
              <ul class="mui-table-view mui-grid-view mui-grid-12">
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index01.png" width="90%" />
                    <p>母婴用品</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index02.png" width="90%" />
                    <p>美容护肤</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="nutrition.html"><img src="images/index03.png" width="90%" />
                    <p>营养保健</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index04.png" width="90%" />
                    <p>时尚服饰</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index05.png" width="90%" />
                    <p>居家日用</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index06.png" width="90%" />
                    <p>知名品牌</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="#"><img src="images/index07.png" width="90%" />
                    <p>男士</p>
                  </a>
                </li>
                <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                  <a href="all.html"><img src="images/index08.png" width="90%" />
                    <p>更多</p>
                  </a>
                </li>
              </ul>
            </div>
            <div class="mui-table-view-cell mui-media mui-ad">
              <a href=""><img class="mui-media-object mui-pull-left" src="images/voice.jpg">
                <div class="mui-media-body">
                  <p class="mui-ellipsis"><strong class="mui-strong">每日公告</strong><span style="padding-left: 5px;">2016年微商时代全民创业-你还在等什么？</span></p>

                </div>
              </a>
            </div>
            <div class="mui-kong"></div>
            <div class="mui-cont-ad">
              <div class="mui-card-content mui-container-conter">
                <div class="mui-media-body mui-media-cont">
                  <strong>热销产品</strong><span class="pull-right"><a href="all.html" >更多></a></span>
                </div>
                <div class="mui-slider">
                  <div class="mui-slider-group">
                    <!--第一个内容区容器-->
                    <div class="mui-slider-item">
                      <!-- 具体内容 -->
                      <ul class="mui-table-view mui-grid-view mui-grid-12" style="padding: 0px 0px 20px 0 ;">
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!--第二个内容区-->
                    <div class="mui-slider-item">
                      <!-- 具体内容 -->
                      <ul class="mui-table-view mui-grid-view mui-grid-12" style="padding: 0px 0px 20px 0 ;">
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                      </ul>
                    </div>
                    <!--第三个内容区容器-->
                    <div class="mui-slider-item">
                      <!-- 具体内容 -->
                      <ul class="mui-table-view mui-grid-view mui-grid-12" style="padding: 0px 0px 20px 0 ;">
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                        <li class="mui-table-view-cell mui-media mui-col-xs-3 mui-col-sm-3">
                          <a href="product_info.html"><img src="images/product05.jpg" width="100%" style="border: 1px solid #E0E0E0;" />
                            <p>Swisse野生鱼油</p>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mui-kong"></div>
            <div class="hot">
              <div class="hot-left">
                <div class="hot-left-top">
                  <div class="text">
                    <h2>今日特卖</h2>
                    <p>品牌大咖一网打尽</p>
                  </div>
                </div>
                <div class="hot-right-bot">
                  <img src="images/product09.png" width="46%" />
                </div>
              </div>
              <div class="hot_right">
                <div class="hot-right-top">
                  <div class="hot-right-proleft">
                    <h2>保护心脏</h2>
                    <p>增强体质，提高免疫力</p>
                  </div>
                  <div class="hot-right-proright">
                    <img src="images/product08.png" width="20%" />
                  </div>
                </div>
                <div class="hot-right-bottom">
                  <div class="hot-right-botleft">
                    <div class="hot-right-proleft">
                      <h2>保护心脏</h2>
                      <p>增强体质，提高免疫力</p>
                    </div>
                    <div class="hot-right-bot">
                      <img src="images/product10.png" width="80%" style="text-align: center;" />
                    </div>
                  </div>
                  <div class="hot-right-botright">
                    <div class="hot-right-proleft">
                      <h2>保护心脏</h2>
                      <p>增强体质，提高免疫力</p>
                    </div>
                    <div class="hot-right-bot">
                      <img src="images/product11.png" width="51%" style="text-align: center;" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="live">
                <div class="live-line">
                  <div class="live-text"><img src="images/live.png" width="25%" />猜你喜欢</div>
                </div>
              </div>
            </div>
            <div class="mui-row">
              <div class="product">
                <a href="product_info.html">
                  <img src="images/product12.jpg" width="100%" />
                  <p>Blackmores澳佳宝胶原蛋白片</p>
                  <div class="money">
                    <div class="money-line">
                      <div class="money-text"><span>￥165</span> ￥328</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="product">
                <a href="product_info.html">
                  <img src="images/product12.jpg" width="100%" />
                  <p>Blackmores澳佳宝胶原蛋白片</p>
                  <div class="money">
                    <div class="money-line">
                      <div class="money-text"><span>￥165</span> ￥328</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="product">
                <a href="product_info.html">
                  <img src="images/product12.jpg" width="100%" />
                  <p>Blackmores澳佳宝胶原蛋白片</p>
                  <div class="money">
                    <div class="money-line">
                      <div class="money-text"><span>￥165</span> ￥328</div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="product">
                <a href="product_info.html">
                  <img src="images/product12.jpg" width="100%" />
                  <p>Blackmores澳佳宝胶原蛋白片</p>
                  <div class="money">
                    <div class="money-line">
                      <div class="money-text"><span>￥165</span> ￥328</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mui-off-canvas-backdrop"></div>
      </div>
    </div>
    <script src="js/mui.min.js"></script>
    <script src="js/style.js"></script>
  </body>

</html>